html {
  margin: 0;
  padding: 0;
  background: url(./images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: 1s ease-in slide_in;
}

main {
  width: 100vw;
  height: 33vh;
}

@media only screen and (max-width: 700px) {
  main {
    height: 50vh;
  }
}

header > a {
  position: absolute;
  top: 1em;
  right: 1em;
  box-shadow: 0px 0px 0px white;
  border-radius: 50%;
}

header > a:hover {
  box-shadow: 0px 0px 20px white;
  transition: box-shadow 0.25s ease-in;
}

header > a > img {
  width: 50px;
  height: 50px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}

section > h1 {
  font-size: 4em;
}

@media only screen and (max-width: 700px) {
  section > h1 {
    font-size: 2em;
  }
}

section > h1 > em {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

section > h1 > em:hover {
  background-size: 100% 88%;
}

section > h1 > em > a {
  color: black;
  text-decoration: none;
}

.magical_underline {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

@keyframes slide_in {
  from {
    background-position-y: 75%;
  }
  to {
    background-position-y: 50%;
  }
}
